<%= form.hidden_field :id %>
<div class="character-sheet">
  <section class="basic">
    <%= form.label :level do -%>
      Level:
      <%= form.number_field :level, min: 1, max: 20 %>
    <% end -%>
    <%= race_selector form %>
    <%= character_class_selector form %>
    <div class="hit-points">
      <%= form.fields_for :hit_points, form.object do |hit_points| -%>
        <label>
          Hit points:
          <%= hit_points.number_field :maximum, value: hit_points.object.maximum_hit_points, disabled: true %>
        </label>
      <% end -%>
    </div>
  </section>

  <section class="abilities">
    <%= form.fields_for :abilities, form.object do |abilities| -%>
      <div class="strategy-and-points">
        <%= abilities.fields_for :strategy, form.object.ability_strategy do |strategy| %>
          <div class="strategy">
            <%= strategy.label :name, t("ability.strategy.name") %>
            <%= ability_strategy_selector strategy %>
          </div>

          <%= content_tag :div, class: "points", style: "#{"display: none" unless strategy.object.respond_to? :points_remaining}" do -%>
            <%= strategy.label :name, t("ability.strategy.points_remaining") %>
            <%= strategy.number_field :points_remaining, value: strategy.object.try(:points_remaining), disabled: true, min: 0 %>
          <% end -%>
        <% end -%>
      </div>

      <%= abilities.fields_for :stats, form.object do |stats| -%>
        <div class="stats">
          <%= render partial: "ability", collection: @character.abilities, locals: { form: stats } %>
          <ul class="bonuses">
            <%= render partial: "ability_bonus", collection: @character.ability_bonuses, locals: { form: abilities } %>
          </ul>
        </div>
      <% end -%>
    <% end -%>
  </section>

  <section class="calculated">
    Proficiency bonus: <%= signed @character.proficiency_bonus %>
  </section>
</div>
