<!DOCTYPE html>
<html>
  <head>
    <title>Crawlr</title>
    <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Raleway:400,300,600", media: 'all' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
